.events-groups {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 3em;
    align-items: center;
    height: fit-content;
    position: sticky;
    top: 10vh;
    z-index: 1;
    background-color: #494646;
    padding: 1em 0;
    border-right: 5px solid #494646;
    border-left: 5px solid #494646;
}

.eg-link {
    height: fit-content;
    font-size: 32px;
    font-weight: 300;
    color: whitesmoke;
    padding: 0;
}

.eg-link.active {
    cursor: default;
    text-decoration: underline;
    color: #B733D4;
}
