.modal-background {
    margin: auto;
    height: 100vh;
    width:auto;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 0;
}

.close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

    width: 2em;
    height: 2em;
    padding: 0;

    position: absolute;
    top: 1em;
    right: 1em;

}
