* {
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

button, input, select, textarea, option,
.menu > *,
.profile-ctn > *{
    color: black;
}

button:hover:disabled {
    background-color: rgba(239, 239, 239, 0.3);
    cursor: default;
}

html, body {
    margin: 0;
    /* padding: 10vh 0 0 0; */
    background-color: #494646;
    scroll-behavior: smooth;
}

#root {
    padding-top: 10vh;
    height: fit-content;
}

a {
    text-decoration: none;
}

img {
    border-radius: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    filter: drop-shadow(5px 5px 5px darkred);
    width: fit-content;
}

/* button, input, textarea, option {
    color: black;
} */

@media screen and (max-width: 640px) {
    #root {
        display: flex;
        justify-content: center;
    }
}
