* {
    font-family: 'Ubuntu', sans-serif;
    /* color: whitesmoke; */
}

html, body {
    margin: 0;
    /* padding: 10vh 0 0 0; */
    background-color: #494646;
    scroll-behavior: smooth;
}

#root {
    padding-top: 10vh;
}

a {
    text-decoration: none;
}

/* button, input, textarea, option {
    color: black;
} */
