.LogInMod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
    background-color: #969090;
    padding: 1em;
}

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.entry {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry > input {
    border-radius: 1em;
    border: none;
    height: 2em;
}

.entry > span {
    position: absolute;
    right: 0.5em;
    bottom: 0.25em;
}

.entry > span:hover {
    cursor: default;
}

.demo-log:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.login-button {
    width: 100%;
    font-size: 1em;
}
